<!DOCTYPE html> 
<html lang="en-US">
    <head>
        <title>Home • EPIC Mail</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../public/css/style.css" />
        <link rel="shorcut icon" href="../assets/favicon.ico" title="" />
        <script type="text/javascript" src="#"></script>
    </head>
    <body class="bd">
        <header class="hd">
            <section class="sct sct--header sct--header__one"><img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><i id="title">Epic Mail</i></section>
            <section class="sct sct--header sct--header__two"> <img src="../assets/logo-search.png" alt="search icon" id="search"/> Search </section>
            <section class="sct sct--header sct--header__three"><i><img src="../assets/logo-account.svg" alt="account icon" id="account" /></i></section>
        </header>
        <aside class="asd asd--main asd--main__two">
            <div id="msg--one" class="msg"><img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
        </aside>
        <aside class="asd asd--main asd--main__two">
            <div id="msg--one" class="msg"><img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
            <div class="msg"> <img src="../assets/logo-enveloppe.png" alt="logo icon" id="logo" /><span>Message</span></div>
        </aside>
        <aside class="asd asd--main__one">
            <div id="line" class="lk">
                <img src="../assets/logo-profile.png" class="photo" alt="profile photo" /><a href="#" title="your account">Inbox</a>
            </div>
            <div class="lk">Compose</div>
            <div class="lk">Inbox</div>
            <div class="lk">Sent</div>
            <div class="lk">draft</div>
            <div class="lk">Trash</div>
        </aside>
    </body>
    <footer class="ft"> 
        <section class="sct sct--footer sct--footer__one">
            <nav class="nv">
                <a href="#" title="Click to know more about us">ABOUT US</a> |
                <a href="#" title="Click if you need help">SUPPORT</a> |
                <a href="#" title="Click to know more about our privacy policies">PRIVACY</a> |
                <a href="#" title="Click to learn more about the general terms and conditions applied">TERMS</a>
            </nav>
        </section>
        <section class="sct sct--foote sct--footer__two">
        </section>
    </footer>
</html>
