<!DOCTYPE html> 
<html lang="en-US">
    <head>
        <title>Reset password • EPIC Mail</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="../public/css/style-index.css" />
        <script type="text/javascript" src="../public/js/script.js"></script>
    </head>
    <body class="bd">
        <header class="hd">
        </header>
        <main class="mn padding">
            <article class="art art--right">
                <section class="sct sct--above">
                    <h1 class="ht ht--1">EPIC Mail</h1>
                    <h2 class="ht ht--2">Reset your Password</h2>
                    <div class="dv">
                    </div>
                    <form class="frm">
                        <input type="text" placeholder="Old Password" class="inpt" /><br />
                        <input type="text" placeholder="New Password" class="inpt"/><br />
                        <input type="text" placeholder="Confirm Password" class="inpt"/><br />
                    </form>
                    <button class="btn">Apply Changes</button>
                    <p>By resetting you password, you agree to our <em>Terms, Data Policy</em> and <em>Cookies Policy</em></p>
                    </section>
                    <section class="sct sct--below">
                    <p>Don't want to reset password? <a href="signIn.html" title="Click to log in">Log in</a></p><nav class="nv">
                <a href="#" title="Click to know more about us" class="a a--footer">ABOUT US</a> |
                <a href="#" title="Click if you need help" class="a a--footer">SUPPORT</a> |
                <a href="#" title="Click to know more about our privacy policies" class="a a--footer">PRIVACY</a> |
                <a href="#" title="Click to learn more about the general terms and conditions applied" class="a a--footer">TERMS</a>
            </nav>

                </section>
            </article>
        </main>
    </body> 
</html>
